$brand-colors-primary-light: #61CDFF;
$brand-colors-primary-default: #00AEFF;
$brand-colors-primary-dark: #025A9A;
$brand-colors-primary-darkest: #002550;

$secondary---orange: #FFA800;
$secondary-orange-light: #FFB118;
$secondary---orange-dark: #E58A00;

$neutral-100: #020203;
$neutral---200: #0B0D12;
$neutral---300: #15171B;
$neutral---400: #1F2025;
$neutral---500: #26272E;
$neutral---600: #2D2F38;
$neutral---700: #363842;

$overwatch-blue: #0373BE;
$overwatch-orange: #EF7D00;
$overwatch---neutral-100: #020203;
$overwatch---neutral-200: #394043;
$overwatch----neutral-300: #51595C;
$overwatch----neutral-400: #6A7276;
$overwatch----neutral-500: #838B8F;
$overwatch---neutral-600: #9EA5A9;
$overwatch----neutral-700: #BAC0C2;
$overwatch----neutral-800: #D7DADC;
$overwatch---neutral-900: #F4F5F5;